/* HTML Elements*/

h1,
h2,
h3
{
    color: #1b1b1b;
    font-family: "Montserrat", sans-serif;
}

body {
    /* color: #898989; */
    text-align: center;
    box-sizing: border-box;
    font-family: "Montserrat", sans-serif;
}

/* Containers */

.container-fluid {
    padding: 7% 15%;
}

/* Sections */
.colored-section {
    background-color: #FF4C68;
    color: white;
}

.white-section {
    background-color: white;
}

/* Navigation Bar */

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding: 10px 0;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    font-family: "Montserrat-Light";
    font-size: 1.4rem;
}

.my_nav_item_text {
  font-weight: 500;
  color: black;
  font-family: "Montserrat-Light";
  font-size: 1.4rem;
}


.dropdown-item {
  padding: 0 0.8rem;
}

.dropdown-menu {
  background-color: #EF8172 !important;
}

/* Title Section */

#title .container-fluid {
    padding: 2% 8%;
    text-align: left;
}


/* Contact Us Section */

.container {
    background: #FFFFFF;
    width: 900px;
    height: 650px;
    margin: 5% auto;
    position: relative;
}

.map {
    width: 100%;
}

.contact-form {
    width: 53%;
    margin: auto;
}

.title {
    font-size: 2.5em;
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    color: #242424;
    margin: 5% 10%;
}

.subtitle {
    font-size: 1.2em;
    font-weight: 400;
    margin: 0 5% 5% 8%;
    line-height: 1.8;
}


textarea {
    width: 465px;
    padding: 3% 5%;
    margin: 2% 4%;
    color: #242424;
    border: 1px solid #B7B7B7;
    border-radius: 4px;
    /* outline: none !important;
    box-sizing: border-box; */
}

#num_of_chars {
    font-weight: 700;
    text-align: right;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.icon {
    padding: 5px;
    background: #f8667c;
    color: black;
    min-width: 40px;
    /* text-align: center; */
    border-radius: 10px;
    margin: 2% 0;
}

input::placeholder,
textarea::placeholder {
    color: #242424;
}

.btn-send {
    margin: 5%;
    margin-bottom: 100px;
    padding: 7px 30px;
}

.btn-send:hover {
    background: #30e3cb;
    background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
    background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
    text-decoration: none;
    border: none;
    color: black;
}

/* Form Validation */

input{
  padding: 3% 5%;
  margin: 2% 4%;
  width: 100%;
  box-sizing: border-box;
  outline: none !important;
}

.valid-field {
  border: 3px solid #82BB41 !important;
}

.invalid-field {
  border: 3px solid #D3212D !important;
}

.valid-field, .invalid-field {
  border-radius: 10px;
}


/* Footer Section */

.icon-2:hover {
    color: #FF4C68;
}


.icon-3 {
    margin: 15px 10px;
}

.icon-3:hover {
    color: rgb(228, 201, 48);
}

.links {
    text-decoration: none;
    color: inherit;
    margin: 3%;
}

.social-link {
    color: inherit;
}


@media (max-width: 1028px) {

    .brand {
        font-size: 2.2rem;
    }
    
    .container {
        width: 100%;
        margin: auto;
    }

    .title{
        font-size: 1.7em;
        text-align: center;
        margin-top: 30px;
    }

    .subtitle {
        font-size: 1.1em;
        text-align: center;
        line-height: 1.6;
    }

    input, textarea{
        width: 100%;
        margin: 10px auto;
        padding: 5%;
    }

    .btn-send{
        width: 100%;
        margin: 10px auto;
    }

    .icon-3 {
        font-size: 1.8rem;
        margin: 12px 7px;
    }
}