/* HTML Elements*/
body {
    font-family: "Montserrat", sans-serif;
    text-align: left;
    box-sizing: border-box;
}

p {
    color: #8F8F8F;
}

hr {
    width: 70% !important;
    margin: 100px auto !important;
}


/* Containers */

.container-fluid {
    padding: 7% 15%;
    
}

/* Sections */

.colored-section {
    background-color: #FF4C68;
    color: white;
}

.white-section {
    background-color: white;
}

/* Navigation Bar */

.navbar-brand {
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}

.navbar {
    padding: 10px 0;
}

.nav-item {
    padding: 0 10px;
}

.nav-link {
    font-family: "Montserrat-Light";
    font-size: 1.4rem;
}

.my_nav_item_text {
  font-weight: 500;
  color: black;
  font-family: "Montserrat-Light";
  font-size: 1.4rem;
}


.dropdown-item {
  padding: 0 0.8rem;
}

.dropdown-menu {
  background-color: #EF8172 !important;
}

/* Title Section */

#title .container-fluid {
    padding: 2% 8%;
    text-align: left;
}

/* Profile Section */

.container {
    max-width: 960px;
    margin-top: 80px;
}

h1 {
    /* font-family: "Montserrat-Bold"; */
    font-weight: bolder;
    font-size: 3rem;
    padding: 15px 0;
}

.card {
    border: none;
    /* padding-left: 80px; */
    top: -30%;
}

.profile-col {
    padding: 3% 2%;
}

#profile-image {
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

#edit-img, #done-img {
    width: 30px;
    height: 30px;
}

.edit-btn:hover, .done-btn:hover {
    border-color: black;
}

/* Footer Section */

.icon-2:hover {
    color: #FF4C68;
}

.icon-3 {
    margin: 15px 10px;
}

.icon-3:hover {
    color: rgb(228, 201, 48);
}

#footer {
    text-align: center;
}


@media (max-width: 1028px) {
    #title {
        text-align: center;
    }


}
